
  @import url('https://fonts.googleapis.com/css2?family=Caveat&family=Lato:wght@300&family=Lumanosimo&family=Oswald&family=Varela+Round&display=swap');
@media (min-width: 400px) {
body {
  font-family: Arial, sans-serif;
  background-color: lightgreen;
  margin: 0;
  color:green
  }
  
  .login-background {
  padding: 20px;
  }
  
  .home-button {
  text-align: center;
  margin-bottom: 20px;
  }
  
  .sign-heading {
  text-align: center;
  margin-bottom: 20px;
  }
  
  .login-details {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  }
  
  .form-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  
  .login-label {
  margin-bottom: 10px;
  }
  
  label {
  font-weight: bold;
  }
  
  input[type="email"],
  input[type="password"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid lightgray;
  }
  
  .btn-class {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 10px;
  }
  
  .btn {
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  }
  
  .login-button {
  background-color: green;
  margin-right: 10px;
  
  }
  
  .register-button {
  background-color: darkgreen;
  
  }
  
  .sign-in-icons {
  display: flex;
  justify-content: center;

  }
  
  .fa {
  padding: 10px;
  font-size: 20px;
  width: 20px;
  height: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  }
  
  .cancel-btn {
  background-color: red;
  margin-right: 10px;
  }
  
  .pswd-reset {
  margin-top: 10px;
  }
  }
  
  /* Desktop */
  @media only screen and (min-width: 601px) {
  body {
  font-family: Arial, sans-serif;
  background-color: lightgreen;
  margin: 0;
  }
  
  .filter-background {
  padding: 40px;
  }  
  .home-button {
  text-align: right;
  }
  
  .sign-heading {
  text-align: center;
  margin-bottom: 40px;
  }
  
  .login-details {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  width: 400px;
  margin: 0 auto;
  }
  
  .form-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  
  .login-label {
  margin-bottom: 20px;
  }
  
  label {  font-weight: bold;
  }
  
  input[type="email"],
  input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid lightgray;
  }
  
  .btn-class {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  }
  
  .btn {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  }
  
  .login-button {
  background-color: green;
  margin-right: 10px;
   width:300px;
  }
  
  .register-button {
  background-color: darkgreen;
  width:300px;
  }
  
  .sign-in-icons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  }
  
  .fa {
  padding: 10px;
  font-size: 20px;
  width: 20px;
  height: 20px;
  text-align: center;
  text-decoration: none;
  margin: 0 5px;
  border-radius: 50%;
  }
  
  .cancel-btn {
  background-color: red;
  margin-right: 10px;
  }
  
  .pswd-reset {
  margin-top: 20px;
  }
  }
  