*{
    margin:0;
    padding:0;
    border: none;

}
body {
    background-color: #FAF0E4 ;
}


/*styling header*/

header {
    background:#c1f880;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    margin-bottom: 0;
 
  }


#logo {
    max-height: 30px;
    margin-left: 40px;
    float: left;
    padding: 10px;
   font-size: 20px;
   border: solid 2px red;
   border-bottom: 1ch;
   text-align:center;
 
}


nav {
    margin-right: 60px;
    float: right;
}

nav li {
    display: inline-block;
    margin-left: 40px;
    padding-top: 50px;
}
nav a {
    color: #4f5aa8;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover{
    border-radius:5px;
    background-color:rgba(116,129,207, 0.5);
   
}


.image-wrapper{
    position:relative;
}
/*Index Image*/
.image-article{
background:url('../assets/images/oolong-tea-1024x683.jpeg') no-repeat;
background-size: cover;
height:700px;
width:100%;
position:relative;
}
#welcome-text{
    position: absolute;
    bottom:40px;
    margin:10px;
    color: white;
}
/*product button*/
.product-button{
    background-color:rgba(112, 130, 56 ,0.6);
    height:auto;
    width:20%;
    border-radius: 5px;
    position: absolute ;
    left:60vh;
    bottom: 10px;
    padding:11px 10px;
    margin:auto;


}
.product-button a{
    color:white;
    text-decoration: none;
    padding:5px;
}

/*Styling About us section*/
#about-us{
    padding:20px;
    margin-bottom: 5px;
    font-size:20px;
    text-align: center;
    line-height: 200%;
    background-color: #c1f880;
    
}

   
picture > img{
    height:50vh;
    width:80vw
}


/*styling sign in page*/
#login-container 
{
  font-family:Arial; 
  background: linear-gradient(to right, #c1f880, #159957); 
  color:white;
  
  margin:0;
  padding: 40px 0px 20px 0px;
}
.center{
    inset: 100px 20px 30px 40px;
  position: relative;


}

input[type=email], input[type=password]{
    width: 60%;
    margin: 10px 0;
    border-radius: 5px;
    padding: 15px 20px;
    box-sizing: border-box;
   box-shadow: #c1f880;
   
  }

  .login-button{
    background-color:#159957;
    color: white;
    padding: 15px 20px;
    border-radius:5px;
    margin: 10px 20px;
    width: 50%;
    font-size: 20px;
    
  }
 .login-label{
    text-align:center;
 }
 form{
    width:40rem;
    height: auto;
    margin: 10vh 0vw ;
    border-radius: 12px;
    background-color: rgba(4, 9, 10, 0.3);
    backdrop-filter: blur(10px) saturate(180%);
    
    text-align: center;
    vertical-align: middle;
    
   
 }

 div > h1{
    text-align: center;
 }
 .home-button > a{
    color:green;
    font-size:30px;
    margin-left:5px;
 }